[Unit]
Description=API

[Service]
ExecStart= /usr/bin/node /home/allancharles2095/TeamAPoolProjectBackend/Index.js

[Install]
WantedBy=multi-user.target
