[Unit]
Description=API

[Service]
WorkingDirectory= /home/allancharles2095/TeamAPoolProjectBackend
ExecStart= node /home/allancharles2095/TeamAPoolProjectBackend/Index.js

[Install]
WantedBy=multi-user.target
