[Unit]
Description=ui

[Service]
WorkingDirectory= /home/allancharles2095/TeamAPoolProjectUI
ExecStart= ng s --host 0.0.0.0

[Install]
WantedBy=mult-user.target
