[Unit]
Description=ui

[Service]
ExecStart= /usr/bin/ng s --host 0.0.0.0 /home/allancharles2095/TeamAPoolProjectUI

[Install]
WantedBy=mult-user.target
